@import url("../static/index.css");

.racehorse-row-c {
  padding: 0px 10px !important;
  .racehorse_ext {
    color: white;
    font-size: 15px;
  }
}

.txt {
  font-family: Montserrat-SemiBold;
  color: #f0f8ff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.bold {
  font-weight: 700;
}